.booking-form-container{
    // border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 40px;
}

.booking-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    // border: 1px solid black;
    // height: 50vh;
}

.booking-form-guest > label,
.CIDF,
.booking-form > label {
    font-weight: bold;
    margin-left: 5%;
    font-size: 12px;
}

.booking-form-guest > label{
    padding-top: 30px;
}

.check-in-date-form{
    display: flex;
    flex-direction: column;
    // border: 2px solid black;
    // align-items: center;
    justify-content: center;
    height: 60px;
    padding-top: 10px;
    width: 50%;
    // margin-left: 5%;
}

#cd1 {
    // border-left: solid 1px black;
    // border-top: solid 1px black;
    border-bottom: solid 1px black;
    height: 10vh;
}
#cd2 {
    height: 10vh;
    border-left: solid 1px black;
    border-bottom: solid 1px black;
    // border-top: solid 1px black;
    // border-right: solid 1px black;
}

.check-in-date-form > input {
    border: none;
    font-size: 14px;
    height: 60%;
    // width: 90%
    margin-left: 5%;
}

.booking-form-date {
    display: flex;
    // justify-content: space-between;
    // width: 80%;
    width: 100%;
    height: 10vh;
}

.booking-form-inner-box {
    border: 2px solid lightgray;
    // padding-bottom: 20px;
    // margin-top: 40px;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-content: center;
    justify-content: center;
    width: 90%;
    margin-left: 5%;
    border-radius: 20px;
    height: 100%;
}

.booking-form-guest {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    // align-content: center;
    height: 12vh;
    padding-bottom: 5px;
    // margin-left: 5%;
    // border-bottom: solid 1px black;
    // border-right: solid 1px black;
    // border-left: solid 1px black;
}

.booking-form-guest > select {
    border: none;
    font-size: 14px;
    height: 60%;
    margin-left: 2.5%;
    width: 95%;
    padding-bottom: 5px;
    background-color: none;
}

#booking-guests {
    margin-left: 2.5%;
}


.bookingformtop {
    display: flex;
    justify-content: space-between;
    width: 90%;
    // align-items: baseline;
    // border: #a2ccb6 2px solid;
    align-items: center;
    margin-left: 5%;
    margin-top: 8%;
    margin-bottom: 8%;
}

.bookingformtopright {
    display: flex;
    // font-size: 40px;
    // align-items: bottom;
    // justify-content: center;
    font-size: 14px;
    bottom: 0;
    gap: 4px;
}

.bookingformtopleft {
    display: flex;
} 

.bookingformprice {
    font-size: 22px;
    font-weight: 500;
    padding-right: 3px;
}

.bookingformprice3 {
    font-size: 22px;
    font-weight: 500;
    padding-right: 3px;
    color: lightgray;
    text-decoration: line-through;
}

.bookingformprice2 {
    align-items: center;
    // border: 2px solid black;
    display: flex;
    margin-top: auto;
    font-size: 16px;
    font-weight: 100;
}

.booking-formbox {
    border: 1px solid lightgray;
    width: 90%;
    border-radius: 5%;
    min-width: 300px;
    position: -webkit-sticky;
    position: sticky;
    top: 10%;
}

#booking-button {
    margin-top: 8%;
    margin-bottom: 8%;
    width: 90%;
    margin-left: 5%;
    height: 7vh;
    text-decoration: none;
    background-image: linear-gradient(to left, #a2ccb6, #fceeb5);
    font-size: 22px;
    color: white;
    font-weight: 800;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: .5s;
}

#booking-button:hover{
    background-position: left center;
    color: blanchedalmond;
    box-shadow: 5px 10px 20px rgba(0,0,0,0.3);
}

.booking-form-guest > select:focus,
.check-in-date-form > input:focus{
    outline: none;
}

.disclaimer1{
    display: flex;
    justify-content: center;
    margin-bottom: 8%;
    color: lightgray;
}

//  input[type="date"]::-webkit-calendar-picker-indicator {
//     width: auto;
//     color: transparent;
//     height: ;
//     }