.footer {
    // background-image: linear-gradient(to left, #9fd5f1, #fceeb5);
    width: 80vw;
    margin-left: 10vw;
}

.footer-container {
    // border: 2px solid green;
    // display: flex;
    // justify-content: space-between;
    // left: 0;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    // margin-left: 5%;
    // border: 2px yellow solid;
    border-top: 1px solid sandybrown;

}

.filler1 > h2,
.filler2 > h2,
.socials > h2,
.about-me > h2 {
    font-size: 28px;
    font-weight: 900;
    padding-top: 20px;
    text-shadow: 1px 1px linear-gradient(to left, #ccffff, #1a9fec, #85b5eb);
    // background-image: linear-gradient(to left, #ccffff, #1a9fec, #85b5eb);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
}

.filler1,
.filler2,
.socials,
.about-me  {
    // height: 200px;
    color: sandybrown;
    display: flex;
    flex-direction: row;
    font-size: 32px;
    // justify-content: space-between;
    // padding: 0px 5px 5px 5px;
    align-content: center;
    // padding-bottom: 40px;
    // width: 80%;
    // border: 2px solid green;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
}

.filler1 > ul,
.filler2 > ul ,
.socials > ul,
.about-me > ul  {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
    // padding-top: 10%;
    // min-width: 160px;
    align-items: center;
    align-content: center;
}

.socials > ul {
    width: 80%;
    // border: 2px solid red;
    display: flex;
    align-items: center;
}
.socials > ul > li {
    // height: 20px;
    // justify-content: center;
    // align-content: center;
    font-size: 30px;
}

.socials > p {
    font-weight: 900;
    margin-left: 5%;
    margin-right: 5%;
}