.session-input {
    height: 5vh;
    width: 90%;
    align-self: center;
    border-left: 4px solid pink;
    border-right: 4px solid pink;
    border-bottom: none;
    border-top: none;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

form h3,
form h2 {
    font-family: 'Montserrat', sans-serif;
}

form h3 {
    color: red;
}

#signin-email,
#email {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top: 4px solid pink;
    border-bottom: 4px solid pink;
}

#signin-password,
#bio {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom: 4px solid pink;
}

#bio {
    height: 8vh;
}

#fname,
#lname,
#password {
    border-bottom: 4px solid pink;
}

.session-button{
    width: 90%;
    height: 5vh;
    background: -webkit-linear-gradient(right, #e98080, #e92f3b);
    border-radius: 10px;
    border: 4px solid pink;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#demo1 {
    margin-top: -1vh;
    font-family: 'Montserrat', sans-serif;
}

#submit1 {
    margin-top: 1vh;
    font-family: 'Montserrat', sans-serif;
}