.page {
    display: flex;
    flex-direction: column;
    // border: 5px yellow solid;
    // justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.lister{
    // height: 100vh; // not sure whats good with this
    width: 100vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 78px;
    border: solid purple 3px;
    width: 100%;
    // background-image: linear-gradient(to left, #9fd5f1, #fceeb5);
}

.listingshowpage{
    // height: 110vh;
    width: 90vw;
    border: 2px solid black;
    margin-left: 5vw;
    // margin-top: 78px;
}
.title-container{
    height: 90px;
    min-height: 90px;
    // border: 2px solid black;
    // justify-content: center;
    // align-content: center;
    justify-content: space-between;
    margin-left: 3%;
    width: 90%;
}

.title{
    margin-top: 10px;
    font-size: 26px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 15px;
}

.details{
    height: 26px;
}

.listingphotos {
    height: 60vh;
    justify-content: space-between;
    display: flex;
    // border: green solid 2px;
    gap: 20px;
    // margin: auto 5px;
    // margin-left: 2.5vw;
    // width: 95vw;
    // border-radius: 20px;
}
.photo1 {
    // background-color: grey;
    flex: 3;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.photo23container {
    flex: 1;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: column;
}
.photo45container {
    flex: 1;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
}

.photo2,
.photo3,
.photo4,
.photo5 {
    height: 48%;
    // background-color: hotpink;
    // border: 2px purple solid;
}

.photo4 {
    border-top-right-radius: 20px;
}

.photo5 {
    border-bottom-right-radius: 20px;
}

.middlelisting{
    display: inline-flex;
    justify-content: space-evenly;
    border: red 2px solid;
    width: 100%;
}

.listingleft{
    width: 100%;
    border: springgreen 2px solid;
    // height: 200px;
    // flex: 1;
    flex: 2;
}
.listingright{
    width: 100%;
    border: thistle 2px solid;
    flex: 1;
}

.listingleft1{
    height: 128px;
    display: flex;
    width: 90%;
    margin-left: 5%;
    // align-content: center;
    // justify-content: space-between;
}

.lltitle{
    font-size: 22px;
    flex: 4;
    align-content: center;
    align-self: center;
    font-weight: bold;

}

.lldetail{
    font-size: 18px;
    align-content: center;
    align-self: center;
    padding-top: 10px;
    font-weight: lighter;
}

.llprofile{
    height: 60px;
    width: 60px;
    align-self: center;
    // border: black 1px solid;
    border-radius: 60px;
    margin-right: 2%;
}

.listingleft2{
    display: inline-flex;
    justify-content: space-evenly;
    flex-direction: column;
    // border: 2px red solid;
    width: 90%;
    height: 280px;
    border-top: 1px solid lightgray;
    border-bottom: 2px solid lightgray;
    margin-left: 5%;
}

.lhome{
    display: inline-flex;
}

.lhomeicon {
    flex: 1;
    align-self: center;
    height: 30px;
    width: 30px;
    font-size: 30px;
}
.lhomeinfo {
    flex: 10;
    font-size: 18px;
    font-weight: bold;
}

.lhomedetail {
    margin-top: 5px;
    font-weight: lighter;
    font-size: 14px;
}

.ldescription {
    font-size: 18px;
    // border-bottom: 2px solid lightgray;
    // height: 200px;
    width: 90%;
    // text-align: center;
    align-self: center;
    line-height: 1cm;
    margin-left: 5%;
    margin-top: 45px;
    margin-bottom: 45px;
}

.listingphotosbeds {
    height: 300px;
    width: 90%;
    display: inline-flex;
    justify-content: space-between;
    margin-left: 5%;

}

.photo67 {
    width: 48%;
    height: 80%;
    // background-color: red;
    // border: blue 2px solid;
    align-self: center;
    gap: 10px;
    border-radius: 20px;
}

.offers,
.lsleep {
    border-top: 2px solid lightgray;
    width: 90%;
    font-size: 24px;
    font-weight: 500;
    height: 50px;
    padding-top: 45px;
    margin-left: 5%;
}

.amenities{
    width: 90%;
    display: inline-flex;
    justify-content: space-between;
    margin-left: 5%;
}

.am1{
    height: 40px;
    display: flex;
    align-content: center;
}

.a-icon {
    height: 24px;
    width: 24px;
    font-size: 24px;
    flex: 1;
    align-self: center;
}

.a-desc {
    align-self: center;
    font-size: 18px;
    flex: 6;
    font-weight: 300;
}

.amenitiesright,
.amenitiesleft {
    width: 50%;
}

.lphoto6,
.lphoto7,
.lphoto2,
.lphoto3,
.lphoto4,
.lphoto5,
.lphoto1 {
    width: 100%;
    height: 100%;
}

.lphoto1 {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.lphoto4{
    border-top-right-radius: 20px;
}

.lphoto5 {
    border-bottom-right-radius: 20px;
}

.lphoto6 {
    border-radius: 20px;
}

.calendar{
    border-top: 2px solid lightgray;
    width: 90%;
    font-size: 24px;
    font-weight: 500;
    height: 50px;
    padding-top: 45px;
    margin-left: 5%;
}

.calendar-item{
    width: 100%;
}

.calendar-container{
    width: 90%;
    margin-left: 5%;
}

.listingright {
    display: flex;
    // align-items: flex-start;

}

.booker{
    width: 95%;
    position: -webkit-sticky;
    position: sticky;
    // object-fit: contain;
    top: 7.5%;

}