.lister{
    height: 100vh;
    // margin-top: 100px;
    justify-content: center;
    display: flex;
}

.listingshowpage{
    margin-top: 78px;
    height: 100vh;
    width: 100vw;
    border: 2px solid black;
}
.titlecontainer{
    margin-top: 300px;
}