.menu-icon {
    background-color: white;
    border-radius: 30px;
    border: none;
    color: black;
    cursor: pointer;
    display: flex;
    font-size: 30px;
    justify-content: space-evenly;
    padding: 6px;
    width: 70px;
    border: black 1px solid;
}

.menu-container{
  display: inline-block;
  justify-content: space-between;
  position: relative;
}

.menu-item {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  float: left;
  justify-content: center;
  min-width: 200px;
  padding: 10px;
  position: absolute;
  right: 0;
  z-index: 5;
}

.menu-item button {
    background-color: white;
    border-radius: 20px;
    border: none;
    color: black;
    cursor: pointer;
    display: block;
    font-size: large;
    padding: 10px 12px;
    text-align: left;
    text-decoration: none;
    width: 100%;
}

.profilepic {
  height: 29.06px;
  width: 29.06px;
  border: 2px solid black;
  border-radius: 29.06px;
}

.menu-button > a{
  text-decoration: none;
  color: black;
}