.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(https://www.cyanmarketing.co.uk/wp-content/uploads/2013/10/gradient-header.jpg);
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    position: sticky;
    height: 8vh;
    // margin-left: -10px;
    // margin-top: -10px;  
}

.nav-bar-right{
    border: solid 2px red 2px;
    display: flex;
    align-items: flex-end;
    // width: 15vw;
    margin-right: 3%;
}

.nav-bar-middle{
    display: flex;
    flex: 2;
    align-items: center;
    height: 50px;
    padding: 10px;
    justify-content: center;
}

.nav-bar-middle > input {
    border: none;
    border-radius: 20px;
    height: 30px;
    width: 75%;
    font-size: 18px;
    justify-content: center;
}

.nav-bar-left {
    display: flex;
    margin: 20px;
}

.icon {
    font-size: 30px;
}