// div {
//     max-width: 1800px;
// }

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background-image: linear-gradient(to right, #9fd5f1, #fceeb5);
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    height: 78px;
    z-index: 100;
    border-bottom: 2px lightgray solid;
    background-color: whitesmoke;
}

.nav-bar-right{
    // border: solid 2px red 2px;
    display: flex;
    align-items: flex-end;
    // width: 15vw;
    margin-right: 3%;
}

.nav-bar-middle{
    display: flex;
    flex: 2;
    align-items: center;
    height: 50px;
    padding: 10px;
    justify-content: center;
    // border: 2px red solid;
}

.nav-bar-left {
    display: inline-flex;
    margin: 20px;
}

.icon {
    // font-size: 30px;
    height: 100%;
}

.logo-icon {
    height: 20px;
    padding-right: 5px;
}

.logo-container {
    text-decoration: none;
    font-size: 30px;
    font-weight: 900;
    text-shadow: 2px 2px gray;
    margin-left: 20%;
    color: #eeddc9;
    display: inline-flex;
    align-items: center;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.navbar_search_container{
    width: 80%;
    // display: inline-flex;
    // align-items: center;
    // justify-content: space-between;
    // flex-direction: row;
    // height: 80%;
    // justify-content: space-between;
    display: flex;
    flex-direction: row;
    height: 80%;
}

.search_form{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    gap: 10px;
}

.search_bar_item {
    width: 100%;
    height: 90%;
    align-self: center;
    font-size: 26px;
}