.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background-image: linear-gradient(to right, #9fd5f1, #fceeb5);
    width: 80vw;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    height: 78px;
    z-index: 100;
    border-bottom: 2px lightgray solid;
    background-color: white;
    margin-left: 10vw;
    
}

.nav-bar-right{
    // border: solid 2px red 2px;
    display: flex;
    align-items: flex-end;
    // width: 15vw;
    // margin-right: 3%;
}

.nav-bar-middle{
    display: flex;
    width: 50%;
    height: 80%;
    align-content: center;
    justify-content: center;
}

.nav-bar-left {
    display: inline-flex;
}

.icon {
    height: 100%;
}

.logo-icon {
    height: 40px;
    padding-right: 10px;
}

.logo-container {
    text-decoration: none;
    font-size: 30px;
    font-weight: 900;
    text-shadow: 1px 1px 2px lavender;
    color: rgb(159, 233, 183);
    display: inline-flex;
    align-items: center;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.navbar_search_container{
    display: flex;
    width: 100%
}

.search_form{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 10px;
    align-items: center;
}

.search_bar_item:focus {
    outline: none;
}

#search-label{
    font-size: 16px;
    font-weight: 700;
    // padding-bottom: 10px;
    padding-left: 4%;
}

.search_bar_container > input{
    border: none;
    width: 75%;
    // margin-left: 3%;
    font-size: 16px;
    padding-left: 4%;
    // background-color: none;
}

.search_bar_container {
    // border: 1px lightgray solid;
    display: flex;
    flex-direction: column;
    width: 30vw;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    // padding-right: 10px;
    // margin-left: 3%;
}

.whole-search-bar{
    display: flex;
    border: 1px solid lightgray;
    border-radius: 30px;
    align-items: center;
    gap: 10px;
    overflow: hidden;
}

.whole-search-bar:hover{
    cursor: pointer;
}

.search_bar_container:hover{
    cursor: pointer;
}

.search_bar_item:hover{
    cursor: pointer;
}

.search_bar_item:focus{
    cursor: text;
}

.search-icon{
    align-items: center;
    background-color: #eeddc9;
    background-image: linear-gradient(to right  , #bde6d1, #b0f7a7);
    border-radius: 20px;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 24px;
    margin-right: 1%;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    text-align: center;
}

.fasearch{
    font-size: 22px;
    padding-right: 10%;
}

.search_bar_container:hover {
    border: 1px solid lightgray;
    border-radius: 30px;
    overflow: hidden;
}

.search-icon:hover{
    // color: black;
    color: lightcyan;
    box-shadow: 0px 0px 2px 2px lavender;
    transition: ease-in .25s;
}