.trip-container {
    margin-top: 80px;
    display: flex;
    gap: 20px;
    width: 79%;
    margin-left: 10.1%;
    flex-direction: column;
    min-height: 70vh;
}

.bookings-container {
    display: flex;
    // border: 1px solid black;
    // border-radius: 5%;
    // box-shadow: 1px 3px 1px 2px gray;
}

.tripphoto{
    height: 100px;
    width: 100px;
    border-radius: 10%;
    box-shadow: 3px 3px 2px 2px gray;
}

.trips-item{
    // display: flex;
    // flex-basis: 33.333333333%;
    // flex-wrap: wrap;
    // border: 2px lightcoral solid;
    // justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    align-content: center;
    row-gap: 40px;
    margin-bottom: 40px;
}

.trips-right{
    // right: 0%;
    // border: solid 2px red;
    align-content: center;
    justify-content: center;
    display: flex;
}

.trips-middle{
    flex: 2;
    align-content: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 3%;
    justify-content: space-evenly;
    text-decoration: none;
    color: inherit
}

.trips-right > button {
    align-self: center;
}

.trip-host,
.trip-address,
.trip-date {
    font-size: 14px;
}

.trips-title {
    font-size: 22px;
}

// a, a:visited, a:hover, a:active {
// //   color: inherit;
// }

.trips-middle:visited > a {
    color: inherit;
}

.trip-category {
    font-size: 40px;
    margin-top: 1%;
    // margin-bottom: 5%;
}

.bookings-container {
// background-color: red;
}

.bookings-container:hover {
    background-color: whitesmoke;
}

.trip-splash{
    width: 80vw;
    height: 300px;
    background-image: image-url('T1.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 50%;
}  

.trip-splash2{
    width: 80vw;
    height: 40vw;
    background-image: image-url('T3.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 20%;
    align-items: center;
    display: flex;
    // margin-left: 5%;
}

.trips-right > button {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    background-color: #ff6961;
    border: none;
    border-radius: 10%;
    margin-right: 20%;
    justify-content: center;
    height: 40%;
}

.trip-del-btn {
    left: 0;
    height: 100%;
    font-size: 25px;
    padding-right: 5px;
    justify-content: center;
    align-self: center;
}

.trips-right > button:hover {
    box-shadow: 2px 2px 3px 1px black;
}

.trip-del-btn-text{
    align-self: center;
    font-size: 12px;
    color: white;
}

.trip-del-btn:hover,
.trip-del-btn-text:hover {
    color: black;
}

.no-trips {
    font-size: 30px;
    width: 100%;
    gap: 40px;
    row-gap: 40px;
    line-height: 2;
    height: auto;
}

#trip-button {
    margin-top: 5%;
    margin-bottom: 5%;
}

#trips-text {
    align-self: center;
    justify-content: center;
    display: flex;
    height: 30%;
    font-weight: bolder;
    background-image: linear-gradient(to left, #a2ccb6, #d1eed6);
    text-shadow: black 2px;
    background: rgba(0,0,0,.3);
    width: 100%;
    text-align: center;
}

#notrips-splash {
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.opaque-text-bg {
    background-color: beige;
    border: 2px red solid;
    height: auto;
}
